<%
if task.priority == 1
  @menu_num = 1
elsif task.priority == 2
  @menu_num = 2
elsif task.priority == 3
  @menu_num = 3
else
  @menu_num = 1
end
%>
  <div id="<%=task.id %>" class="task">
   <div id="task_menu" class="task_priority_bar_<%= @menu_num%>">
     <%= link_to '詳細をみる', [:show_task_detail, task], :method=>:put %>
     |<%= link_to '編集する', edit_task_path(task) %>
     |<%= link_to '削除する', [:delete_task,task], :confirm => '本当に削除しますか？', :remote=>true,:method => :delete %>
   </div>
    概要：<%= task.title %>
    <%= draggable_element("#{task.id}", :revert =>false) %>
  </div>
  
