<p id="notice"><%= notice %></p>
<div id="loginInfo" class="loginInfo_menu">
      <table>
        <tr>
          <td class="menu_text">
            [<%=@login_user.name %>]さん、こんにちは。&nbsp;&nbsp;
          </td><td class="menu_text2">
	        <%= link_to '新規グループ', new_group_path %> &nbsp;&nbsp;|
            <%= link_to '他のグループに所属する(未実装)', new_group_path %>
        </td></tr>
      </table>
</div>

<hr>

<div class="sub_header_info">グループ一覧</div>
<table>
  <tr>
    <th>グループ名</th>
    <th>グループ説明</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.descritpion %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
