<div class="user_info_form">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div id="user_info_form">
      <h2><%= pluralize(@user.errors.count, "error") %>入力エラーです。</h2>
      <% @user.errors.full_messages.each do |msg| %>
      <%= msg %><br>
      <% end %>
    </div>
    <% end %>

  <div class="field">
    <%= f.label :name, 'ログイン名' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :passwor, 'パスワード' %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :email , 'メールアドレス'%><br />
    <%= f.text_field :email %>
  </div>
<div class="field">
<b>所属グループ:</b><br>
  <% @belong_groups.each do |group|%>
  <%=group.name %>:<%=group.description %><br>
  <% end %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>
